* {
    box-sizing: border-box;
}

.gen {
    color: #00ff00;
    border: 2px solid #00aaaa;
    background-color: #aaaa00;
    width: 300px;
    text-align: center;
    font-size: 24px;
    padding: 24px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.gen:hover {
    background-color: #5656ff;
    color: #ff00ff;
}

.tick {
    display: flex;
    flex-wrap: wrap;
    color: #ff00ff;
    border: 2px solid #ff5555;
    background-color: #5555ff;
    width: 300px;
    text-align: center;
    font-size: 24px;
    padding: 24px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: auto;
}

#max1 {
    padding: 24px;
    background-color: #115211;
    color: #000000;
    font-size: 24px;
    margin: auto;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#max2 {
    padding: 24px;
    background-color: #115211;
    color: #000000;
    font-size: 24px;
    margin: auto;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#max1:hover {
    background-color: #eeadee;
    color: #ffffff
}

#max2:hover {
    background-color: #eeadee;
    color: #ffffff
}

#tickspeed:hover,#the16thdimensiontickspeed:hover {
    background-color: #aaaa00;
    color: #00ff00;
}

.genContainer {
    display: flex;
    width: 1200px;
    flex-wrap: wrap;
    margin: auto;
}

#money,#infinities,#infinity {
    margin: 40px;
    color: red;
    text-align: center;
    font-size: 48px;
}
